body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green; 
    /* background-image: url('../public/logo.png');
    background-size: cover;
    background-repeat: none; */
}